@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

body{
    background-color: black;
    padding: 5%;
    
    
}
.pages{
    display: grid;
    grid-template-rows: 1fr  1fr;
    grid-row-gap: 2px;
}

h1{
    font-weight: bolder;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    text-align: center;
}
.page1{
    font-family: 'Press Start 2P';
}

.Logos{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.lg1{
    grid-column-start: 3;
}
.headers{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 21%;
}
.hG1{
    grid-column-start: 1;
    grid-row-start: 1;
}
.hG2{
    grid-column-start: 3;
    grid-row-start: 2;
}
.hG3{
    grid-column-start: 6;
    grid-row-start: 3;
}
.hG1{
   animation: left-right 1.5s ease-in forwards infinite alternate;
}
.hG3{
         animation: right-left 1.5s ease-in forwards infinite alternate;
}
@keyframes left-right{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%) rotate(180deg);
        
    }
}
@keyframes right-left{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%) rotate(-180deg);
        
    }
}
.page2{
    display: grid;
    grid-template-columns: 1fr 1fr 0.2fr 2fr 01fr;
    font-family: 'IBM Plex Mono';
    
}
h2{
    color: rgb(255, 255, 255);
    text-align: center;
}
.imgedit{
    border-radius: 2%;
}
.Skillimgs{
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
}
.si1{
    grid-column-start: 2;
}
.si4{
    grid-column-start: 3;
    grid-row-start: 3;
    align-self: center;
}
.lhs{
    grid-column-start: 2;
}
.rhs{
    grid-column-start: 4;
}







@media screen and (max-width: 600px){
    body{
        padding: 15%;
    }
    .pages{
        display: grid;
        grid-template-rows: 0.6fr  1fr;
        
    }
    .page2{
        grid-row-start: 2;
    }
    .Logos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        
    }
    .lg1{
        grid-column-start: 2;
    }
    .page2{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 0.1fr 1fr;
        font-family: 'IBM Plex Mono';
        
    }
    .h1{
        text-align: center;
    }
    .rhs{
        
        grid-row-start: 3;
        grid-column-start: 1;
    }

    .lhs{
        grid-row-start: 1;
        grid-column-start: 1;
        align-items: center;
        
    }
   
    
   
   
    h2{
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .imgedit{
        border-radius: 2%;
    }
    .Skillimgs{
        display: grid;
        grid-template-columns: 0.4fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 1fr;
    }
    .si1{
        grid-column-start: 2;
    }
    .si4{
        grid-column-start: 3;
        grid-row-start: 3;
        align-self: center;
    }
    
}







